.page {
  font-family: "NotoSansKR";
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 4px;
}
.title {
  font-family: "NotoSansKR";
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 4px;
}
.content {
  font-family: "NotoSansKR";
  font-weight: 500;
  font-size: 15px;
  color: gray;
}
