.fira_mono {
  font-family: "FiraMono";
  font-weight: normal;
  font-size: 35px;
  margin-left: 10px;
}

.title {
  font-family: "NotoSansKR";
  font-weight: 500;
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}

.content {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-size: 16px;
  color: rgb(100, 100, 100);
  margin-bottom: 8px;
}
