.title {
  font-family: "NotoSansKR";
  font-weight: 500;
  font-size: 20px;
  color: black;
}

.content {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-size: 16px;
  color: rgb(100, 100, 100);
  margin-bottom: 8px;
}
